@font-face {
    font-family: IRANSans;
    font-display: swap;
    src: url(assets/fonts/eot/PinkSans.eot?#iefix) format('embedded-opentype'),
    url(assets/fonts/ttf/PinkSans.ttf) format('truetype'),
    url(assets/fonts/woff/PinkSans.woff) format('woff'),
    url(assets/fonts/woff2/PinkSans.woff2) format('woff2');
}

a, p, span, button, input, h1, h2, h3, h4, h5, h6, label, th, td {
    font-family: IRANSans;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.login-form{
    max-width: 500px;
    padding: 3rem 0;
}

.login-form label{
    margin-bottom: 1rem;
}

.logo-wrapper{
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.img_file{
    width: 200px;
}

.img_file img{
    width: 100%;
    height: 100%;
}

.user_page{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.user_page form{
    width: 320px;
}

.user_page form > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.user_page form label{
    display: block;
    width: 100%;
    text-align: right;
}

.user_page form input{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 9px #ccc;
    padding: .5rem 1rem;
    width: 100%;
    text-align: right;
}

.user_page form select{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 9px #ccc;
    padding: .5rem 1rem;
    width: 100%;
    text-align: right;
    font-family: IRANSans;
}

.user_page form select option{
    font-family: IRANSans;
}

.user_page form input::placeholder{
    font-family: IRANSans;
}

.user_page button{
    width: 100%;
    margin: 0;
}